<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>GAE on Sinatra with Bumble - Data Store Test</title>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">

    google.load("language", "1");

    function initialize(source,target) {
      var text = document.getElementById(source).innerHTML;
      google.language.detect(text, function(result) {
        if (!result.error && result.language) {
          google.language.translate(text, result.language, "en",
                                    function(result) {
            var translated = document.getElementById(target);
            if (result.translation) {
              translated.innerHTML = result.translation;
            }
          });
        }
      });
    }
    </script>
</head>
<body>
日本語を入力してください。<br/>
<form action="/" method="post">
 content:  <input name="person[content]" /><br/>
 <input type="submit"/>
</form>
<% count = 0 %>
<table border="1">
<tr>
	<td>日本語</td><td>英語</td>
</tr>
<% for p in @persons %>
<tr>
	<td><span id="text<%= count %>"><%= p.content %></span></td><td><span id="translation<%= count %>"></span></td>
	<script>initialize("text<%= count %>","translation<%= count %>");</script>
   <% count = count +1 %>
</tr>
<% end %>
</table>
</div>
</body>
</html>
