<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Twitter translate test</title>
</head>
<body style="background-color:#dddddd;">
  <div>
   <dl>
    <dt>IconURL</dt>
    <dd><%=@trans['icon_url'] %></dd>
    <dt>UserName</dt>
    <dd><%=@trans['user_name'] %></dd>
    <dt>Contents</dt>
    <dd><%=@trans['contents'] %></dd>
    <dt>CreatedAt</dt>
    <dd><%=@trans['created_at'] %></dd>
    <dt>Memo</dt>
    <dd><%=@trans['memo'] %></dd>
   </dl>
  </div>
</body>
</html>
