<form action="/group/edit/<%= h @item.key %>" method="post">
	<table border="0" cellspacing="5" cellpadding="5">
		<tbody>
			<tr>
				<th>グループ名:</th>
				<td><input name="groupname" value="<%= h @item.groupname %>" type="text"/></td>
			</tr>
			<tr>
				<th>説明:</th>
				<td><input name="description" value="<%=h @item.description %>" type="text" /></td>
			</tr>
			<tr>
			  <th><b>URL:</b></th>
			  <td><input name="site_url" value="<%=h @item.site_url %>" type="text" /></td>
			</tr>
			<tr>
			  <th><b>リスト:</b></th>
			  <td><input name="listnames" value="<%=h @item.listnames %>" type="text" /></td>
			</tr>
			<tr>
			  <th><b>タグ:</b></th>
			  <td><input name="tags" value="<%=h @item.tags %>" type="text" /></td>
			</tr>
		</tbody>
	</table>
	<input type="submit" value="submit">
</form>
<a href="/group/">一覧</a>